---
- name: Deploy ATS-CV-Scanner Application
  hosts: all
  become: yes

  tasks:
    - name: Update apt cache
      apt:
        update_cache: yes

    - name: Add NodeSource Node.js 20 repo
      shell: curl -fsSL https://deb.nodesource.com/setup_20.x | bash -

    - name: Install required packages
      apt:
        name:
          - nginx
          - git
          - python3-pip
          - python3-venv
          - nodejs
        state: present

    - name: Setup backend virtualenv
      command: python3 -m venv venv
      args:
        chdir: /home/eissa/ats-cv-scanner/
        creates: /home/eissa/ats-cv-scanner/venv

    - name: Install backend dependencies
      command: venv/bin/pip install -r requirements.txt
      args:
        chdir: /home/eissa/ats-cv-scanner/

    - name: Install frontend dependencies
      command: npm install
      args:
        chdir: /home/eissa/ats-cv-scanner/frontend/

    - name: Build frontend
      command: npm run build
      args:
        chdir: /home/eissa/ats-cv-scanner/frontend/

    - name: Configure Nginx
      shell:
        rm /etc/nginx/sites-enabled/default
      ignore_errors: yes

    - name: Copy Nginx configuration
      shell: |
        cp /home/eissa/ats-cv-scanner/nginx/deploy/atsscanner /etc/nginx/sites-available/
        ln -sf /etc/nginx/sites-available/atsscanner /etc/nginx/sites-enabled/

    - name: Restart Nginx
      service:
        name: nginx
        state: restarted

    - name: Start backend application
      shell:
        sudo systemctl start ats-backend.service
